/* .ImageGalleryItem {
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}


.ImageGalleryItemImage {
    width: 100%;
    height: 268px;
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItemImage:hover {
    transform: scale(1.03);
    cursor: zoom-in;
} */

.CardsGalleryItem {
    
    margin-bottom: 50px;
  
    justify-content: space-between;
}

.CardsGalleryItemImage {
    width: 100%;
    height: 268px;
    width: 274px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 14px;
  
    margin-left: auto;
    margin-right: auto;
    
}

.CardsGalleryItemBox {
    width: 100%;
    height: 72px;
    /* background-color: aqua ; */
}

.CardsGalleryItemUpperBox {
     display: flex;  
         justify-content: space-between;
 
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}

/* .ImageGalleryItemWrapMakeModelYear {
    display: flex;
        justify-content: space-between;
width: 131px;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

} */
.CardsGalleryItemMake {
    margin-right: 4px;
}
.CardsGalleryItemModel {
    margin-right: 4px;
    color: var(--Secondary-Text-color);
}
.CardsGalleryRentalPrice {
    /* margin-right: 0; */
    margin-left: auto;
}

.CardsGalleryItemBottomBox {
    display: flex;
    flex-wrap: wrap;
    width: 274px;
    height: 40px;
    /* background-color: red; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.CardsGalleryItemCity,
.CardsGalleryItemCountry,
.CardsGalleryItemRentalCompany,
.CardsGalleryItemDescription {
    font-family: var(--font-family);
        
        font-size: 12px;
        line-height: 1.5;
        color: rgba(18, 20, 23, 0.5);
}

.Stick {
    margin: 0 3px;
}



