/* .ImageGallery {
    display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;


} */

.CardsGalleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Центрирование элементов по горизонтали */
} 
.CardsGallery {
    display: flex;
        flex-wrap: wrap;
        width: 1440px;
        
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 128px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
}

.CardsGalleryLoadMoreButton {
    margin-top: 100px;
}

