.CardsGalleryItem {
  margin-bottom: 50px;

  justify-content: space-between;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.CardsGalleryItemImage {
  width: 100%;
  height: 268px;
  width: 274px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 14px;

  margin-left: auto;
  margin-right: auto;
}

.CardsGalleryItemBox {
  width: 100%;
  height: 72px;
  margin-bottom: 28px;
}

.CardsGalleryItemUpperBox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.CardsGalleryItemMake {
  margin-right: 4px;
}
.CardsGalleryItemModel {
  margin-right: 4px;
  color: var(--Secondary-Text-color);
}
.CardsGalleryRentalPrice {
  margin-left: auto;
}

.CardsGalleryItemBottomBox {
  display: flex;
  flex-wrap: wrap;
  width: 274px;
  height: 40px;
  overflow: hidden;
}

.CardsGalleryItemCity,
.CardsGalleryItemCountry,
.CardsGalleryItemRentalCompany,
.CardsGalleryItemDescription,
.CardsGalleryKey,
.CardsGalleryItemMakeDown,
.CardsGalleryItemAccessory {
  font-family: var(--font-family);

  font-size: 12px;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
}

.Stick {
  margin: 0 3px;
}

.CardsGalleryItemButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border-radius: 12px;

  width: 274px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
  background: #3470ff;
  border: none;
}

.CardsGalleryLoadMoreButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #3470ff;
}
